{% extends 'base.html.twig' %}

{% block title %}Compte index{% endblock %}

{% block body %}
    <h1>Compte index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>CodeBank</th>
                <th>NumComp</th>
                <th>Iban</th>
                <th>Bic</th>
                <th>Montant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for compte in comptes %}
            <tr>
                <td>{{ compte.id }}</td>
                <td>{{ compte.nom }}</td>
                <td>{{ compte.codeBank }}</td>
                <td>{{ compte.numComp }}</td>
                <td>{{ compte.iban }}</td>
                <td>{{ compte.bic }}</td>
                <td>{{ compte.montant }}</td>
                <td>
                    <a href="{{ path('compte_show', {'id': compte.id}) }}">show</a>
                    <a href="{{ path('compte_edit', {'id': compte.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('compte_new') }}">Create new</a>
{% endblock %}
